a {
  color: #000;
  cursor: pointer;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.container {
  width: 970px !important;
}

.event {
  margin: 20px 0px;
}

.event a {
  display: block;
  cursor: pointer;
}

#graph path {
  stroke: #000;
  stroke-width: 1;
  fill: none;
}

#graph text {
  font-size: 11px;
  fill: #999;
}

body {
  font: 14px Palatino serif;
}

.lists a {
  display: block;
}

.tt {
	position: absolute;
	z-index: 10;
	visibility: hidden;
  background: #eee;
  /*border: 1px solid #ccc;*/
  padding: 5px;
  width: 400px;
  border-radius: 5px;
  background: #333;
  color: #fff;
}

.f_actor, .f_victim {
  background-color: #eee;
  font-weight: normal;
  color: #000;
}

/*#graph {*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 20px;*/
  /*width: 400px;*/
/*}*/
